<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            
    <title>John Carpenter Movies</title>
</head>
<body class="grey lighten-2">
    <nav>
        <div class="nav-wrapper teal lighten -2">
            <a href="#!" class="brand-logo"><i class="material-icons">camera_roll</i>JCM</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Leaderboard</a></li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo">
        <li><a href="#" class="sidenav-close">Leaderboard</a></li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>John Carpenter Movies</h1>
                <p>A humble place where you can vote for your favorite John Carpenter movies!</p>
            </div>
        </div>

        <div class="row">
            <% films.sort((a, b) => a.year - b.year).forEach( el => { %>
                <div class="col s12 m6 l4 xl3">
                    <div class="card large hoverable">
                        <div class="card-image">
                            <img class="materialboxed" src="/assets/images/<%=el.title%>.jpg" alt="<%= el.title %> poster">
                        </div>
                        <div class="card-content">
                            <span class="card-title"><%= el.title %></span>
                            <span><%= el.year %></span>
                            <span class="right"><%= el.mpaaRating %></span>
                        </div>
                        <div class="card-action">
                            <button class="btn waves-effect waves-light btn-small" type="submit" name="action">Like
                                <i class="material-icons right">thumb_up</i>
                            </button>
                            <span class="badge"><%= el.likes %></span>
                        </div>
                    </div>
                </div>
            <% }) %>


            <!-- <div class="col s12 m6 l4 xl3">
                <div class="card">
                  <div class="card-image">
                    <img src="images/sample-1.jpg" alt="movie poster">
                  </div>
                  <div class="card-content">
                      <span class="card-title">Movie Title</span>
                      <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                  </div>
                </div>
              </div>

              <div class="col s12 m6 l4 xl3">
                <div class="card">
                  <div class="card-image">
                    <img src="images/sample-1.jpg" alt="movie poster">
                  </div>
                  <div class="card-content">
                      <span class="card-title">Movie Title</span>
                      <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                  </div>
                </div>
              </div> -->
        </div>
    </div>

    <footer class="page-footer teal lighten-2">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Michael O'Mahoney
          <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
          </div>
        </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>